/* Flexbox контейнер */
.custom-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: navy;
}

.tall-rectangle {
    width: 80px;
    height: 170px;
    background-color: navy;
}

/* Селектори тегів */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(71, 92%, 50%);
    padding: 10px;
}

/* Селектор класу */
.sidebar {
    float: left;
    width: 150px;
    background-color: lightgray;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: navy;
}

/* Селектор класу для текстового контенту */
.content {
    margin-left: 170px; /* Відступ для обтікання зліва */
    background-color: #0bf32a;
    padding: 10px;
}

/* Селектор ідентифікатора */
#fixed-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 120px;
    height: 50px;
    background-color: coral;
    color: white;
    text-align: center;
    padding-top: 15px;
}




